%p.normal
  %label{ :for => "nabaztag_mac" } MAC Address
  %input.text#nabaztag_mac{ :name => "notifiers[Nabaztag][mac]", :type => "text", :value => config["mac"] }
 
%p.normal
  %label{ :for => "nabaztab_token" } Token
  %input.text#nabaztab_token{ :name => "notifiers[Nabaztag][token]", :type => "text", :value => config["token"] }
 
